*{
  margin: 0;
  padding: 0;
}
.App{
  margin: 1rem;
}
.search-bar{
  display: flex;
  width:100%;
}
.search-input{
  height: 44px;
  width: 80%;
  font-size: 1rem;
  border: 1px solid #eaeaea;
}
.search-div{
  height: 44px;
  width: 20%;
  border: 1px solid #eaeaea;
  border-left: 0;
  cursor: pointer;
}
.fa-search{
  font-size: 1.5rem;
}